body {
  background-color: cornflowerblue;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  background: #fa8c16;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 8px green;
  margin-bottom: 30px;
}

.headder-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;

  /* Элементы будут в ряд, а не в столбик */
  display: flex;

  /* Равномерное распределение по области 
  (значок слева, поиск справа, навигация в середине) */
  justify-content: space-between;

  /* Выравнивание по вертикали */
  align-items: center;
}

.header-nav {
  margin-left: 60px;
  margin-right: auto;
}

.header-menu {
  /* Сделать меню в строчку, а не в столбик */
  display: flex;

  /* Убрать точки из списка */
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu-link {
  text-decoration: none;
  color: rgb(68, 83, 37);

  /* Расстояние между навигацией */
  margin-right: 15px;
  font-size: 14px;
  line-height: 22px;
}

.input-group {
  max-width: 237px;
  width: 60%;
  height: 32px;
  position: relative;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid purple;
}

.search-input {
  height: 100%;
  width: 80%;
  border: none;
  font-size: 14px;
  line-height: 22px;
  padding-left: 12px;
}

.search-button {
  border: none;
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;

  /* Пальчик вместо стрелочки при наведении */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input::-moz-placeholder {
  color: red;
}
.search-input::-webkit-input-placeholder {
  color: red;
}
.search-input:-ms-input-placeholder {
  color: red;
}
.search-input::-ms-input-placeholder {
  color: red;
}
.search-input::placeholder {
  color: red;
}

.menu-toggle {
  display: none;
}

.content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.posts {
  max-width: 67%;
}

.post {
  background: bisque;
  border: 1px solid olive;
  margin-bottom: 30px;
}

.post-body {
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0;
}

.post-title {
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.post-text {
  color: darkblue;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.tags {
  margin-bottom: 22px;
}

.tag {
  color: indianred;
  font-size: 14px;
  line-height: 22px;
  margin-right: 10px;
  text-decoration: none;
}

.post-footer {
  border-top: 2px solid fuchsia;
  background: lightgreen;
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.post-buttons {
  display: flex;
  align-items: center;
}

.post-button .icon {
  /* Цвет элементов */
  fill: mediumorchid;
}

.icon-like,
.icon-comment {
  margin-right: 6px;
}

.post-button {
  /* Иконки без заднего фона */
  background-color: transparent;
  /* Иконки без рамки */
  border: none;
  /* Цвет цифр */
  color: mediumorchid;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  margin-right: 19px;
  cursor: pointer;
}

.post-author {
  display: flex;
  align-items: center;
  text-align: right;
}

.author-avatar {
  width: 34px;
  height: auto;
  margin-left: 9px;
  border-radius: 4px;
}

.author-username {
  /* Для вертикального расположения */
  display: block;
  color: chocolate;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}

.post-time {
  color: teal;
}

.sidebar {
  width: 31%;
}

.user {
  background-color: lime;
  border: 1px solid blueviolet;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  margin-right: 17px;
}

.user-name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: blue;
}

.icon-exit {
  width: 20px;
  height: 20px;
  fill: black;
}

.sidebar-nav {
  background-color: snow;
}

.sidebar-menu {
  margin: 0;
  border: 1px solid rosybrown;
  border-top: none;
  list-style-type: none;
  padding: 0;
}

.sidebar-menu-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: orangered;
  padding: 16px 48px;
  /* Чтоб были вертикальные отступы */
  display: inline-block;
  width: 100%;
}

.sidebar-menu-link:hover {
  background-color: aqua;
}

.sidebar-menu-link.active {
  background-color: lightsteelblue;
  border-right: 3px solid orange;
}

.button {
  background: green;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  color: silver;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 13px;
  cursor: pointer;
}

.button-outline {
  background: navy;
  border: 1px solid yellow;
  box-sizing: 4px;
  padding-left: 16px;
  padding-right: 16px;
}

.button-new-post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.icon-fire {
  fill: white;
  width: 11px;
  height: 13px;
  margin-right: 10px;
}

.card {
  background: beige;
  border: 1px solid navy;
  margin-top: 20px;
}

.card-header {
  background: tan;
  border-bottom: 1px solid navy;
  padding: 23px 25px;
}

.card-title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: grey;
}

.card-body {
  padding: 22px 40px 20px 25px;
}

.card-body-title {
  text-decoration: none;
  margin: 0 0 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: darkblue;
}

.card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 10px 0;
}

.promo {
  display: block;
  background-color: oldlace;
  background-image: url("../img/Ads.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 260px;
  border: 1px solid snow;
  margin-top: 20px;
  position: relative;
}

.promo::before {
  content: "Реклама";
  position: absolute;
  right: 0;
  top: 0;
  background: peru;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: palegreen;
}

.add-post {
  display: flex;
  flex-direction: column;
}

.add-title,
.add-text {
  background: antiquewhite;
  border: 1px solid pink;
  padding: 23px 30px;
  margin-bottom: 16px;
}

.add-text {
  min-height: 362px;
}

.add-button {
  width: 100%;
  max-width: 370px;
  margin-right: 2%;
}

.add-post .button-outline {
  margin-right: 1%;
}

@media (max-width: 800px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-left: 12px;
  }
  .menu-toggle span {
    height: 2px;
    width: 100%;
    background-color: chartreuse;
  }
  .header {
    position: fixed;
    /* позиция, якобы, от пола (от экрана) */
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
  }
  .content {
    margin-top: 94px;
    margin-bottom: 60px;
  }
  .sidebar {
    position: fixed;
    z-index: 101;
    top: 64px;
    right: 0;
    bottom: 0;
    height: calc(100% - 59px);
    max-width: 320px;
    width: 100%;
    background-color: red;
    box-shadow: 1px 1px 10px black;
    padding: 30px;
    /* Скрыт по умолчанию справа на 100% */
    transform: translateX(100%);
    /* Время ожидания свойства transform */
    transition: transform 0.2s;
    /* Можно скроллить сайдбар */
    overflow-y: auto;
  }
  .sidebar.visible {
    transform: translateX(0);
  }
  .posts {
    max-width: 100%;
  }
  .header-nav {
    display: none;
  }
  .header-menu {
    width: 90%;
    margin: auto;
  }
}

/* Для футера постов аватарка не скомкывается с тегами */
/* А переносится на другую строку */
@media (max-width: 600px) {
  .post-footer {
    /* При уменьшении масштаба элементы поделятся на строки */
    flex-direction: column;
  }
  .author-about {
    margin-top: 15px;
  }
  .author-avatar {
    margin-left: 0;
    margin-right: 10px;
  }
  .author-about {
    /* Порядок элемента (аватар будет перед ником и временем) */
    order: 2;
    text-align: left;
  }
}
